/* chevalier*/
#section_chevalier{
   
    background-image: url(Court-metrages/Chevalier/Chevalier-imagette.jpg);
}
#section_chevalier:hover{
    background-image: url(Court-metrages/Chevalier/Chevalier-boucle.gif);
    transition-delay: 0.5s ;
    
}

#chevalier:before,
#chevalier:after{
    animation: chevalier 20s ease-in infinite ;
}

#chevalier:after
{
  animation: chevalier 20s ease-in 2s infinite ; 
}

@keyframes chevalier{
    0%{background-image: url(Court-metrages/Chevalier/chevalier-fond1.jpg);}
    25%{background-image: url(Court-metrages/Chevalier/chevalier-fond1.jpg);}
    33.33%{background-image: url(Court-metrages/Chevalier/chevalier-fond2.jpg);}
    58.33%{background-image: url(Court-metrages/Chevalier/chevalier-fond2.jpg);}
    66.66%{background-image: url(Court-metrages/Chevalier/chevalier-fond3.jpg);}
    92.33%{background-image: url(Court-metrages/Chevalier/chevalier-fond3.jpg);}
    100%{background-image: url(Court-metrages/Chevalier/chevalier-fond1.jpg);}
}


/* gorille*/

#section_gorille{
    background-image: url(Court-metrages/Gorilles/Gorille-imagette.jpg);
}
#section_gorille:hover{
    background-image: url(Court-metrages/Gorilles/Gorilles-boucle.gif);
    transition-delay: 0.5s ;
}
#gorille:before,
#gorille:after{
    animation: gorille 20s ease-in infinite ;
}

#gorille:after
{
  animation: gorille 20s ease-in 2s infinite ; 
}

@keyframes gorille{
    0%{background-image: url(Court-metrages/Gorilles/Gorille-Fond1.jpg);}
    25%{background-image: url(Court-metrages/Gorilles/Gorille-Fond1.jpg);}
    33.33%{background-image: url(Court-metrages/Gorilles/Gorille-Fond2.jpg);}
    58.33%{background-image: url(Court-metrages/Gorilles/Gorille-Fond2.jpg);}
    66.66%{background-image: url(Court-metrages/Gorilles/Gorille-Fond3.jpg);}
    92.33%{background-image: url(Court-metrages/Gorilles/Gorille-Fond3.jpg);}
    100%{background-image: url(Court-metrages/Gorilles/Gorille-Fond1.jpg);}
}

/* hoverboard*/

#section_hoverboard{
    
    background-image: url(Court-metrages/MonHoverboard/jimverstuto-imagette.jpg);
}
#section_hoverboard:hover{
    background-image: url(Court-metrages/MonHoverboard/hoverboard-boucle.gif);
    transition-delay: 0.5s ;
    
}

#hoverboard:before,
#hoverbard:after{
    animation: hoverboard 20s ease-in infinite ;
}

#carrefour:after
{
  animation: hoverboard 20s ease-in 2s infinite ; 
}

@keyframes hoverboard{
    0%{background-image: url(Court-metrages/MonHoverboard/Hoverboard-fond1.jpg);}
    25%{background-image: url(Court-metrages/MonHoverboard/Hoverboard-fond1.jpg);}
    33.33%{background-image: url(Court-metrages/MonHoverboard/Hoverboard-fond1.jpg);}
    58.33%{background-image: url(Court-metrages/MonHoverboard/Hoverboard-fond1.jpg);}
    66.66%{background-image: url(Court-metrages/MonHoverboard/Hoverboard-fond1.jpg);}
    92.33%{background-image: url(Court-metrages/MonHoverboard/Hoverboard-fond1.jpg);}
    100%{background-image: url(Court-metrages/MonHoverboard/Hoverboard-fond1.jpg);}
}

/* rumble*/
#section_rumble{
   
    background-image: url(Court-metrages/Rumble4fight/RFF-imagette.jpg);
}
#section_rumble:hover{
    background-image: url(Court-metrages/Rumble4fight/RFF-boucle.gif);
    transition-delay: 0.5s ;
    
}

#rumble:before,
#rumble:after{
    animation: ecofi 20s ease-in infinite ;
}

#rumble:after
{
  animation: ecofi 20s ease-in 2s infinite ; 
}

@keyframes ecofi{
    0%{background-image: url(Court-metrages/Rumble4fight/rumble\ 2K.jpg);}
    25%{background-image: url(Court-metrages/Rumble4fight/rumble\ 2K.jpg);}
    33.33%{background-image: url(Court-metrages/Rumble4fight/RFF-Fond2.jpg);}
    58.33%{background-image: url(Court-metrages/Rumble4fight/RFF-Fond2.jpg);}
    66.66%{background-image: url(Court-metrages/Rumble4fight/RFF-Fond3.jpg);}
    92.33%{background-image: url(Court-metrages/Rumble4fight/RFF-Fond3.jpg);}
    100%{background-image: url(Court-metrages/Rumble4fight/rumble\ 2K.jpg);}
}


/* SW*/

.gifSW{
    width: 98%;
    margin: 0 1%;
}

.gifSW2{
    width: 40%;

}
.gifSW3{
    width: 30%;
   

}

#swcenter{
    text-align: center;
}
#section_SW{
   
    background-image: url(Court-metrages/StarWars/Star-Wars-imagette.jpg);
}
#section_SW:hover{
    background-image: url(Court-metrages/StarWars/Star-Wars-boucle.gif);
    transition-delay: 0.5s ;
    
}

#SW:before,
#SW:after{
    animation: SW 20s ease-in infinite ;
}

#SW:after
{
  animation: SW 20s ease-in 2s infinite ; 
}

@keyframes SW{
    0%{background-image: url(Court-metrages/StarWars/StarWars-Fond1.jpg);}
    25%{background-image: url(Court-metrages/StarWars/StarWars-Fond1.jpg);}
    33.33%{background-image: url(Court-metrages/StarWars/StarWars-Fond2.jpg);}
    58.33%{background-image: url(Court-metrages/StarWars/StarWars-Fond2.jpg);}
    66.66%{background-image: url(Court-metrages/StarWars/StarWars-Fond3.jpg);}
    92.33%{background-image: url(Court-metrages/StarWars/StarWars-Fond3.jpg);}
    100%{background-image: url(Court-metrages/StarWars/StarWars-Fond1.jpg);}
}



/* golfist*/
#section_golfist{
   
    background-image: url(Court-metrages/TheGolfist/Golfist-fond1.jpg);
}
#section_golfist:hover{
    background-image: url(Court-metrages/TheGolfist/The-Golfist-boucle.gif);
    transition-delay: 0.5s ;
    
}

#golfist:before,
#golfist:after{
    animation: golfist 20s ease-in infinite ;
}

#golfist:after
{
  animation: golfist 20s ease-in 2s infinite ; 
}

@keyframes golfist{
    0%{background-image: url(Court-metrages/TheGolfist/Golfist-fond1.jpg);}
    25%{background-image: url(Court-metrages/TheGolfist/Golfist-fond1.jpg);}
    33.33%{background-image: url(Court-metrages/TheGolfist/Golfist-fond2.jpg);}
    58.33%{background-image: url(Court-metrages/TheGolfist/Golfist-fond2.jpg);}
    66.66%{background-image: url(Court-metrages/TheGolfist/Golfist-fond3.jpg);}
    92.33%{background-image: url(Court-metrages/TheGolfist/Golfist-fond3.jpg);}
    100%{background-image: url(Court-metrages/TheGolfist/Golfist-fond1.jpg);}
}






/* volverine*/
#section_volverine{
   
    background-image: url(Court-metrages/Wolverine/Wolverine-imagette.jpg);
}
#section_volverine:hover{
    background-image: url(Court-metrages/Wolverine/Wolverine-boucle.gif);
    transition-delay: 0.5s ;
    
}

#volverine:before,
#volverine:after{
    animation: volverine 20s ease-in infinite ;
}

#volverine:after
{
  animation: volverine 20s ease-in 2s infinite ; 
}

@keyframes volverine{
    0%{background-image: url(Court-metrages/Wolverine/Wolverine-fond1.jpg);}
    25%{background-image: url(Court-metrages/Wolverine/Wolverine-fond1.jpg);}
    33.33%{background-image: url(Court-metrages/Wolverine/Wolverine-fond2.jpg);}
    58.33%{background-image: url(Court-metrages/Wolverine/Wolverine-fond2.jpg);}
    66.66%{background-image: url(Court-metrages/Wolverine/Wolverine-fond3.jpg);}
    92.33%{background-image: url(Court-metrages/Wolverine/Wolverine-fond3.jpg);}
    100%{background-image: url(Court-metrages/Wolverine/Wolverine-fond1.jpg);}
}




#courmetragevoirplus:before,
#courmetragevoirplus:after{
    animation: courmetragevoirplus 20s ease-in infinite ;
}

#courmetragevoirplus:after
{
  animation: courmetragevoirplus 20s ease-in 2s infinite ; 
}

@keyframes courmetragevoirplus{
    0%{background-image: url(Court-metrages/Fond-court-métrages/Gorille-Fond2.jpg);}
    25%{background-image: url(Court-metrages/Fond-court-métrages/Gorille-Fond2.jpg);}
    33.33%{background-image: url(Court-metrages/Fond-court-métrages/rumble\ 2K.jpg);}
    58.33%{background-image: url(Court-metrages/Fond-court-métrages/rumble\ 2K.jpg);}
    66.66%{background-image: url(Court-metrages/Fond-court-métrages/StarWars-Fond2.jpg);}
    92.33%{background-image: url(Court-metrages/Fond-court-métrages/StarWars-Fond2.jpg);}
    100%{background-image: url(Court-metrages/Fond-court-métrages/Gorille-Fond2.jpg);}
}




