/* ecofi20*/
#section_ecofi20{
   
    background-image: url(Marketing/Ecofi-voeux-2020/ecofi-voeux2020-fond1.jpg);
}
#section_ecofi20:hover{
    background-image: url(Marketing/Ecofi-voeux-2020/ecofi-voeux2020-GIF.gif);
    transition-delay: 0.5s ;
    
}

#ecofi20:before,
#ecofi20:after{
    animation: ecofi20 12s ease-in infinite ;
}

#ecofi:after
{
  animation: ecofi20 12s ease-in 2s infinite ; 
}

@keyframes ecofi20{
    0%{background-image: url(Marketing/Ecofi-voeux-2020/ecofi-voeux2020-fond1.jpg);}
    50%{background-image: url(Marketing/Ecofi-voeux-2020/ecofi-voeux2020-fond2.jpg);}
    100%{background-image: url(Marketing/Ecofi-voeux-2020/ecofi-voeux2020-fond1.jpg);}
}


/* décapulse*/

#section_decapulse{
    background-image: url(Marketing/Decapulse/Decapulse-imagette.jpg);
}
#section_decapulse:hover{
    background-image: url(Marketing/Decapulse/Decapulse-boucle.gif);
    transition-delay: 0.5s ;
}
#decapulse:before,
#decapulse:after{
    animation: decapulse 20s ease-in infinite ;
}

#decapulse:after
{
  animation: decapulse 20s ease-in 2s infinite ; 
}

@keyframes decapulse{
    0%{background-image: url(Marketing/Decapulse/Fond1.jpg);}
    25%{background-image: url(Marketing/Decapulse/Fond1.jpg);}
    33.33%{background-image: url(Marketing/Decapulse/Fond2.jpg);}
    58.33%{background-image: url(Marketing/Decapulse/Fond2.jpg);}
    66.66%{background-image: url(Marketing/Decapulse/Fond3.jpg);}
    92.33%{background-image: url(Marketing/Decapulse/Fond3.jpg);}
    100%{background-image: url(Marketing/Decapulse/Fond1.jpg);}
}

/* carrefour*/

#section_carrefour{
    
    background-image: url(Marketing/Carrefour\ Lescar/Carrefour-imagette.jpg);
}
#section_carrefour:hover{
    background-image: url(Marketing/Carrefour\ Lescar/carrefour-boucle.gif);
    transition-delay: 0.5s ;
    
}

#carrefour:before,
#carrefour:after{
    animation: carrefour 20s ease-in infinite ;
}

#carrefour:after
{
  animation: carrefour 20s ease-in 2s infinite ; 
}

@keyframes carrefour{
    0%{background-image: url(Marketing/Carrefour\ Lescar/Carrefour-fond1.jpg);}
    25%{background-image: url(Marketing/Carrefour\ Lescar/Carrefour-fond1.jpg);}
    33.33%{background-image: url(Marketing/Carrefour\ Lescar/Carrefour-fond2.jpg);}
    58.33%{background-image: url(Marketing/Carrefour\ Lescar/Carrefour-fond2.jpg);}
    66.66%{background-image: url(Marketing/Carrefour\ Lescar/Carrefour-fond3.jpg);}
    92.33%{background-image: url(Marketing/Carrefour\ Lescar/Carrefour-fond3.jpg);}
    100%{background-image: url(Marketing/Carrefour\ Lescar/Carrefour-fond1.jpg);}
}

/* ecofi*/
#section_ecofi{
   
    background-image: url(Marketing/Ecofi\ energie\ renouvelable/Ecofi-ER-imagette.jpg);
}
#section_ecofi:hover{
    background-image: url(Marketing/Ecofi\ energie\ renouvelable/Ecofi-ER-boucle.gif);
    transition-delay: 0.5s ;
    
}

#ecofi:before,
#ecofi:after{
    animation: ecofi 20s ease-in infinite ;
}

#ecofi:after
{
  animation: ecofi 20s ease-in 2s infinite ; 
}

@keyframes ecofi{
    0%{background-image: url(Marketing/Ecofi\ energie\ renouvelable/Ecofi-ER-fond1.jpg);}
    25%{background-image: url(Marketing/Ecofi\ energie\ renouvelable/Ecofi-ER-fond1.jpg);}
    33.33%{background-image: url(Marketing/Ecofi\ energie\ renouvelable/Ecofi-ER-fond2.jpg);}
    58.33%{background-image: url(Marketing/Ecofi\ energie\ renouvelable/Ecofi-ER-fond2.jpg);}
    66.66%{background-image: url(Marketing/Ecofi\ energie\ renouvelable/Ecofi-ER-fond3.jpg);}
    92.33%{background-image: url(Marketing/Ecofi\ energie\ renouvelable/Ecofi-ER-fond3.jpg);}
    100%{background-image: url(Marketing/Ecofi\ energie\ renouvelable/Ecofi-ER-fond1.jpg);}
}


/* pastel1*/
#section_pastel1{
   
    background-image: url(Marketing/Pastel\ creatif/pastel-imagette.jpg);
}
#section_pastel1:hover{
    background-image: url(Marketing/Pastel\ creatif/pastel-creatif-boucle.gif);
    transition-delay: 0.5s ;
    
}

#pastel1:before,
#pastel1:after{
    animation: pastel1 20s ease-in infinite ;
}

#pastel1:after
{
  animation: pastel1 20s ease-in 2s infinite ; 
}

@keyframes pastel1{
    0%{background-image: url(Marketing/Pastel\ creatif/team\ pastel.jpg);}
    25%{background-image: url(Marketing/Pastel\ creatif/team\ pastel.jpg);}
    33.33%{background-image: url(Marketing/Pastel\ creatif/pastel\ table\ 1.jpg);}
    58.33%{background-image: url(Marketing/Pastel\ creatif/pastel\ table\ 1.jpg);}
    66.66%{background-image: url(Marketing/Pastel\ creatif/pastel\ 2k.jpg);}
    92.33%{background-image: url(Marketing/Pastel\ creatif/pastel\ 2k.jpg);}
    100%{background-image: url(Marketing/Pastel\ creatif/team\ pastel.jpg);}
}



/* skogul*/
#section_skogul{
   
    background-image: url(Marketing/Skogul/skogul-imagette.jpg);
}
#section_skogul:hover{
    background-image: url(Marketing/Skogul/Skogul-boucle.gif);
    transition-delay: 0.5s ;
    
}

#skogul:before,
#skogul:after{
    animation: skogul 20s ease-in infinite ;
}

#skogul:after
{
  animation: skogul 20s ease-in 2s infinite ; 
}

@keyframes skogul{
    0%{background-image: url(Marketing/Skogul/skogul-fond1.jpg);}
    25%{background-image: url(Marketing/Skogul/skogul-fond1.jpg);}
    33.33%{background-image: url(Marketing/Skogul/skogul-fond2.jpg);}
    58.33%{background-image: url(Marketing/Skogul/skogul-fond2.jpg);}
    66.66%{background-image: url(Marketing/Skogul/skogul-fond3.jpg);}
    92.33%{background-image: url(Marketing/Skogul/skogul-fond3.jpg);}
    100%{background-image: url(Marketing/Skogul/skogul-fond1.jpg);}
}



/* twincup*/
#section_twincup{
   
    background-image: url(Marketing/TwinCup2013/twin-cup-imagette.jpg);
}
#section_twincup:hover{
    background-image: url(Marketing/TwinCup2013/TWIN-CUP-boucle.gif);
    transition-delay: 0.5s ;
    
}

#twincup:before,
#twincup:after{
    animation: twincup 20s ease-in infinite ;
}

#twincup:after
{
  animation: twincup 20s ease-in 2s infinite ; 
}

@keyframes twincup{
    0%{background-image: url(Marketing/TwinCup2013/Twin-cup-fond1.jpg);}
    25%{background-image: url(Marketing/TwinCup2013/Twin-cup-fond1.jpg);}
    33.33%{background-image: url(Marketing/TwinCup2013/Twin-cup-fond2.jpg);}
    58.33%{background-image: url(Marketing/TwinCup2013/Twin-cup-fond2.jpg);}
    66.66%{background-image: url(Marketing/TwinCup2013/Twin-cup-fond3.jpg);}
    92.33%{background-image: url(Marketing/TwinCup2013/Twin-cup-fond3.jpg);}
    100%{background-image: url(Marketing/TwinCup2013/Twin-cup-fond1.jpg);}
}


/* xscase*/
#section_xscase{
   
    background-image: url(Marketing/XScase/XScase-imagette.jpg);
}
#section_xscase:hover{
    background-image: url(Marketing/XScase/XScase-boucle.gif);
    transition-delay: 0.5s ;
    
}

#xscase:before,
#xscase:after{
    animation: xscase 20s ease-in infinite ;
}

#xscase:after
{
  animation: xscase 20s ease-in 2s infinite ; 
}

@keyframes xscase{
    0%{background-image: url(Marketing/XScase/XScase-fond1.jpg);}
    25%{background-image: url(Marketing/XScase/XScase-fond1.jpg);}
    33.33%{background-image: url(Marketing/XScase/XScase-fond2.jpg);}
    58.33%{background-image: url(Marketing/XScase/XScase-fond2.jpg);}
    66.66%{background-image: url(Marketing/XScase/XScase-fond3.jpg);}
    92.33%{background-image: url(Marketing/XScase/XScase-fond3.jpg);}
    100%{background-image: url(Marketing/XScase/XScase-fond1.jpg);}
}


/* Pagaie*/
#section_pagaie{
   
    background-image: url(Marketing/Pagaie/imagette.jpg);
}
#section_pagaie:hover{
    background-image: url(Marketing/Pagaie/Pagaie-gif.gif);
    transition-delay: 0.5s ;
    
}

#Pagaie:before,
#Pagaie:after{
    animation: pagaie 20s ease-in infinite ;
}

#Pagaie:after
{
  animation: pagaie 20s ease-in 2s infinite ; 
}

@keyframes pagaie{
    0%{background-image: url(Marketing/Pagaie/pagaie1.jpg);}
    25%{background-image: url(Marketing/Pagaie/pagaie1.jpg);}
    33.33%{background-image: url(Marketing/Pagaie/pagaie2.jpg);}
    58.33%{background-image: url(Marketing/Pagaie/pagaie2.jpg);}
    66.66%{background-image: url(Marketing/Pagaie/pagaie3.jpg);}
    92.33%{background-image: url(Marketing/Pagaie/pagaie3.jpg);}
    100%{background-image: url(Marketing/Pagaie/pagaie1.jpg);}
}

/* ISR*/
#section_isr{
   
    background-image: url(Marketing/ISR/Fond1.jpg);
}
#section_isr:hover{
    background-image: url(Marketing/ISR/ECOFI-ISR.gif);
    transition-delay: 0.5s ;
}

#isr:before,
#Pagaie:after{
    animation: isr 20s ease-in infinite ;
}

#isr:after
{
  animation: isr 20s ease-in 2s infinite ;

}

@keyframes isr{
    0%{background-image: url(Marketing/ISR/fond1.jpg);}
    25%{background-image: url(Marketing/ISR/fond1.jpg);}
    33.33%{background-image: url(Marketing/ISR/fond2.jpg);}
    58.33%{background-image: url(Marketing/ISR/fond2.jpg);}
    66.66%{background-image: url(Marketing/ISR/fond3.jpg);}
    92.33%{background-image: url(Marketing/ISR/fond3.jpg);}
    100%{background-image: url(Marketing/ISR/fond1.jpg);}
}

#isrvideo{
    background: url(Marketing/ISR/fond1.jpg);
    background-size: cover;
    text-align: center;
  vertical-align: middle;
}
#isrvideo:hover{
    background: url(Marketing/ISR/ECOFI-ISR.gif) no-repeat;
    background-size: cover;
    transition-delay: 0.5s ;
}

#bodyMarketingVoirplus:before,
#bodyMarketingVoirplus:after{
    animation: marketingvoirplus 20s ease-in infinite ;
}

#bodyMarketingVoirplus:after
{
  animation: marketingvoirplus 20s ease-in 2s infinite ; 
}

@keyframes marketingvoirplus{
    0%{background-image: url(Marketing/Fond\ page\ video\ marketing/pastel\ table\ 1.jpg);}
    25%{background-image: url(Marketing/Fond\ page\ video\ marketing/pastel\ table\ 1.jpg);}
    33.33%{background-image: url(Marketing/Fond\ page\ video\ marketing/Ecofi-ER-fond2.jpg);}
    58.33%{background-image: url(Marketing/Fond\ page\ video\ marketing/Ecofi-ER-fond2.jpg);}
    66.66%{background-image: url(Marketing/Fond\ page\ video\ marketing/Fond1.jpg);}
    92.33%{background-image: url(Marketing/Fond\ page\ video\ marketing/Fond1.jpg);}
    100%{background-image: url(Marketing/Fond\ page\ video\ marketing/pastel\ table\ 1.jpg);}
}




