#section_pana1{
   
    background-image: url(materiel/pana4k.jpg);
}

#section_pana2{
   
    background-image: url(materiel/panahd.jpg);
}
#section_pana3{
   
    background-image: url(materiel/minipanahd.jpg);
}

#section_gph4{
   
    background-image: url(materiel/gph4.jpg);
}

#section_gpfusion{
   
    background-image: url(materiel/gopro-fusion.jpg);
}

#section_gear360{
   
    background-image: url(materiel/Gear-360.jpg);
}

#section_light1{
   
    background-image: url(materiel/light01.jpg);
}

#section_trep1{
   
    background-image: url(materiel/trepied.jpg);
}

#section_trep2{
   
    background-image: url(materiel/Trepied-Compact.jpg);
}

#section_trep3{
   
    background-image: url(materiel/ronon.jpg);
}

#section_steady{
   
    background-image: url(materiel/steady-cam.jpg);
}

#section_dolly{
   
    background-image: url(materiel/Dolly.jpg);
}
#section_microcanon{
   
    background-image: url(materiel/micro-canon.jpg);
}

#section_perche{
   
    background-image: url(materiel/perche-rode.jpg);
}

#section_micro{
   
    background-image: url(materiel/Micro-cravate.jpg);
}

#section_zoom{
   
    background-image: url(materiel/Zoom-h4n.jpg);
}

#section_spot{
   
    background-image: url(materiel/spots.jpg);
}

#section_fond{
   
    background-image: url(materiel/fond-Chromakey-vert.jpg);
}

#section_fond2{
   
    background-image: url(materiel/Fond-vert-flex.png);
}

#quisommenous{
    min-height: 100vh;
    display: flex;
}

#quisommenous:before,
#quisommenous:after{
    animation: quisommenous 20s ease-in infinite ;
}

#quisommenous:after
{
  animation: quisommenous 20s ease-in 2s infinite ; 
}

@keyframes quisommenous{
    0%{background-image: url(Equipement/fondnous/DSC02367.jpg);}
    25%{background-image: url(Equipement/fondnous/DSC02367.jpg);}
    33.33%{background-image: url(Equipement/fondnous/IMG_3592.jpg);}
    58.33%{background-image: url(Equipement/fondnous/IMG_3592.jpg);}
    66.66%{background-image: url(Equipement/fondnous/teamSW.jpg);}
    92.33%{background-image: url(Equipement/fondnous/teamSW.jpg);}
    100%{background-image: url(Equipement/fondnous/DSC02367.jpg);}
}

#matos{
    min-height: 100vh;
    display: flex;
}

#matos:before,
#matos:after{
    animation: matos 20s ease-in infinite ;
}

#matos:after
{
  animation: matos 20s ease-in 2s infinite ; 
}

@keyframes matos{
    0%{background-image: url(Equipement/fondmatos/equip1.jpg);}
    25%{background-image: url(Equipement/fondmatos/equip1.jpg);}
    33.33%{background-image: url(Equipement/fondmatos/equip3.jpg);}
    58.33%{background-image: url(Equipement/fondmatos/equip3.jpg);}
    66.66%{background-image: url(Equipement/fondmatos/titre_slide_1.jpg);}
    92.33%{background-image: url(Equipement/fondmatos/titre_slide_1.jpg);}
    100%{background-image: url(EEquipement/fondmatos/equip1.jpg);}
}


#fondtarif{
    min-height: 100vh;
    display: flex;
}

#fondtarif:before,
#fondtarif:after{
    animation: fondtarif 20s ease-in infinite ;
}

#fondtarif:after
{
  animation: fondtarif 20s ease-in 2s infinite ; 
}

@keyframes fondtarif{
    0%{background-image: url(Equipement/fondmatos/equip1.jpg);}
    25%{background-image: url(Equipement/fondmatos/equip1.jpg);}
    33.33%{background-image: url(Equipement/fondmatos/equip3.jpg);}
    58.33%{background-image: url(Equipement/fondmatos/equip3.jpg);}
    66.66%{background-image: url(Equipement/fondmatos/titre_slide_1.jpg);}
    92.33%{background-image: url(Equipement/fondmatos/titre_slide_1.jpg);}
    100%{background-image: url(EEquipement/fondmatos/equip1.jpg);}
}



#fondnous{
    min-height: 100vh;
    display: flex;
}

#fondnous:before,
#fondnous:after{
    animation: fondnous 20s ease-in infinite ;
}

#fondnous:after
{
  animation: fondnous 20s ease-in 2s infinite ; 
}

@keyframes fondnous{
    0%{background-image: url(Equipement/fondnous/DSC02367.jpg);}
    25%{background-image: url(Equipement/fondnous/DSC02367.jpg);}
    33.33%{background-image: url(Equipement/fondnous/IMG_3592.jpg);}
    58.33%{background-image: url(Equipement/fondnous/IMG_3592.jpg);}
    66.66%{background-image: url(Equipement/fondnous/teamSW.jpg);}
    92.33%{background-image: url(Equipement/fondnous/teamSW.jpg);}
    100%{background-image: url(Equipement/fondnous/DSC02367.jpg);}
}
#fondmention{
    min-height: 100vh;
    display: flex;
}

#fondmention:before,
#fondmention:after{
    animation: fondmention 20s ease-in infinite ;
}

#fondmention:after
{
  animation: fondmention 20s ease-in 2s infinite ; 
}

@keyframes fondmention{
    0%{background-image: url(Equipement/fondmention/equip2.jpg);}
    25%{background-image: url(Equipement/fondmention/equip2.jpg);}
    33.33%{background-image: url(Equipement/fondmention/IMG_4483.jpg);}
    58.33%{background-image: url(Equipement/fondmention/IMG_4483.jpg);}
    66.66%{background-image: url(Equipement/fondmention/titre_Slide_3.jpg);}
    92.33%{background-image: url(Equipement/fondmention/titre_Slide_3.jpg);}
    100%{background-image: url(Equipement/fondmention/equip2.jpg);}
}
@media screen and (min-width:767px){
     .overlay:target {
    visibility: visible;
    opacity: 1;
    
  }
}

.overlay {
    z-index: 3;
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    transition: opacity 0.5s;
    visibility: hidden;
    opacity: 0;
    display: flex;
justify-content: center;
align-items: center;

    
  }

  
  .popup {
    width: 70vw;
    padding-right: 15px;
    min-height: calc(70vw*0.666);
    transition: all 0.5s ease-in-out;
    text-align: right;
    background-color: white;
  }
  
  
  .popup .close {
    text-align: end;
    transition: all 200ms;
    font-size: 40px;
    text-decoration: none;
    color: rgba(0, 0, 0, 0.4);
  }
  .popup .close:hover {
    color:rgba(0, 0, 0, 0.9);
  }

  .textpopup{
      text-align: center;
      margin-left: 15px;
      color: rgba(0, 0, 0, 0.9);
      font-size: 1.5em;
  }

  .imgpopup{
      width: 80%;
  }

  .pmiddle{
      text-align: center;
  }