@font-face{
    font-family: "Eurostile";
    src: url("Font/Eurostile\ Extended\ #2.ttf");
}

body{
    margin: 0;
}
body:before,
body:after
{
    z-index: -1;
    content:'';
    position:fixed;
     width:100vw;
     height:100vh;
    top:0; left: 0;
    animation: fondu 20s ease-in infinite ;
    background-size:cover;
    background-position:center center;
}
body:after
{
  animation: fondu 20s ease-in 2s infinite ; 
}


header{
    position: fixed;
    width: 98vw;
    text-align: right;
    opacity: 70%;
    font: 2em sans-serif;
}

 main{
     height: 100vh;
 }


#logoC {
    width: 330px;
    opacity: 0.8;
    transition: 0.7s;
}
#logo {
    width: 140px;
    padding: 5px;
    transition: 0.7s;
}
#logo:hover{
    opacity: 0.5;
    
}



.menu {
    position: fixed;
    top: 33%;
    left: 0;
    margin: 0;
    padding: 0px;
    text-align: center;
    min-width: 390px;
    color: rgba(253, 253, 253, 0.7);
    font: 0.8em "Eurostile";
}


li {
    list-style: none;
}

h1{
    color:white;
    margin: 18px;
    opacity: 1;
}
h4{
    color:white;
    margin: 18px 0px;
    opacity: 1;
    text-align: center;
}
a {
    display: inline-block;
    color:rgba(255, 255, 255, 0.8);
    text-decoration:white;
    font: 1em "Eurostile";
    transition: all 0.5s;
    
}
.a3{
    color: rgba(183, 185, 185, 0.8);

}

.menu_li{
    background-color: rgba(19, 19, 19, 0.2);
    padding: 4px;
    margin: 2px 0;
    cursor: pointer;
}
.menu_li:hover{
    color: white;
}
.menu_li2{
    padding: 2px;
    margin: 1px 0;
}

li:hover .a{
    color:rgba(183, 185, 185, 0.8);
    transform: scale(1.1);
}



.menu > li li a{
    color: grey;
    font: 1em "Eurostile";
    text-decoration:white;
    transition: all 0.5s;
}

.menu > li li:hover a{
    color:rgb(225, 243, 248);
    transform: scale(1.15);
}



.menu ul {
    max-height:0px;
	margin: 0px; padding: 0px;
    overflow: hidden;
    background-color: rgba(183, 185, 185, 0);
    transition: 0.7s max-height 0.3s;
}

.plus{
    background-color: rgba(19, 19, 19, 0.6);
}
.plus:hover ul{
    max-height: 250px;
}

.lien_SN{
    position: absolute;
    z-index: 3;
    display: flex;
    justify-content: end;
    right: 0;
    top: 0;
    margin: 5px;
}

.logo_SN{
    margin: 5px;
    transition: 0.7s;
    opacity: 0.8;
}
.logo_SN:hover{
    opacity: 0.5;
    transform: scale(0.95)
    
}


@keyframes fondu{
    0%{background-image: url(background/arthur\ site.jpg);}
    25%{background-image: url(background/arthur\ site.jpg);}
    33.33%{background-image: url(background/damme\ du\ lac.jpg);}
    58.33%{background-image: url(background/damme\ du\ lac.jpg);}
    66.66%{background-image: url(background/landing\ FX.jpg);}
    92.33%{background-image: url(background/landing\ FX.jpg);}
    100%{background-image: url(background/arthur\ site.jpg);}
}


.conteneur{
    display:none;
    position:absolute;
    width: 325px;
    background-color: rgba(19, 19, 19, 0.8);
    right: 0;
    top: 50%;
    transform: translateY(-50%);
    display: flex;
    flex-direction: column;
    justify-content: center;
    
}
#Menue_video{
    position:absolute;
    width: 35%;
    max-width: 628px;
    min-height: 100%;
    height: auto;
    right: 0;
    background-color: rgba(19, 19, 19, 0.8);
   
    
}
.conteneur_video{

    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}


.conteneur_clip{
    position: absolute;
    right: 0;
    width: 40%;
    height: 100%;
    background-color: rgba(19, 19, 19, 0.8);
    display: flex;
    flex-direction: column;
    justify-content: center;
    
}
.element_clip{
    text-align:center;
    color: white;
    
    
}

aside{
    
    width:auto;
    height:auto;
    text-align:center;
    color: white;
    margin: 10px;
    padding: 20px;
   
}


.element{
    position: relative;
    z-index: 1;
    margin: 0px 12px 12px 12px;
    border: 2px rgba(253, 253, 253, 0.7) solid;
    width:100%;
    height:280px;
    background-color: rgba(58, 110, 110, 0.3);
    text-align:center;
    color: white;
    -webkit-background-size: cover;
    background-size: cover;
    background-position: center;
    overflow: hidden; 
    
}
.element_h{
    position: relative;
    z-index: 1;
    margin: 0px 12px 12px 12px;
    border: 2px rgba(253, 253, 253, 0.7) solid;
    width:300px;
    height:180px;
    background-color: rgba(58, 110, 110, 0.3);
    text-align:center;
    color: white;
    -webkit-background-size: cover;
    background-size: cover;
    background-position: center;
    overflow: hidden; 
    
}






footer{
    text-align: center;
    margin: 0;
    width: 100vw;
    bottom: 0;
    background-color: rgba(19, 19, 19, 0.8);
    text-align: center;
    font: 1em "Eurostile";
    color: rgba(255, 255, 255, 0.8);
}
p{
    margin: 0;
    padding: 2px;
}


#conteneur_Footeur{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}
.element_footeur{
    top: 30px;
    margin: 3px;
    padding: 5px;
    width:80px;
    height:45px;
    background-color:white;
    background-size:cover;
    background-position:center center;
}

#footeur_1{
    background-image:url(Logo/logoaffiche.png);
}

#footeur_2{
    background-image: url(clients/XTV.png);
}

#footeur_3{
    background-image: url(clients/carouf.png);
}

#footeur_4{
    background-image: url(clients/decathlon.png);
}
#footeur_5{
    background-image: url(clients/elow.png);
}

#footeur_6{
    background-image: url(clients/etincelle.png);
}

#footeur_7{
    background-image: url(clients/id\ art\ large.jpg);
}

#footeur_8{
    background-image: url(clients/pastel.png);
}

#footeur_9{
    background-image: url(clients/pbo\ site.png);
}


#footeur_10{
    background-image: url(clients/xs.jpg);
}