body{

width: 100vw;
height: 100vh;

margin: 0;
background-color: black;
display: flex;
justify-content: center;
align-items: center;


}

@media (orientation: portrait){
  #mariage{
    height: 50vh;
    width: 100vw;
    animation: slideinportrait 10s ease-in-out;
    justify-content: center;
  }
  #product{
    justify-content: center;
    align-items: flex-end;
  }
  #productbutton{
    text-align: center;
  }
  img{
    padding: 1em;
    background-color: rgba(61, 61, 61, 0.6);
  }
  nav{
    margin: 7vh 0;
  }
}

@media (orientation: landscape) {
  #mariage{
  height: 100vh;
  width: 50vw;
  animation: slideinlandscape 10s ease-in-out;
  align-items: center;
  }
  nav{
  width: 100%;
  height: 260px;
  }
  #product{
    justify-content: right;
    align-items: center;
  }
  #productnav{
  width: 100%;
  }

  #productbutton{
    text-align: right;
  }
}
section{
  position: absolute;
  left: 0;
  top: 0;
  display: flex;
  
}



#mariage{
    z-index: 1;
    position: absolute;
    left: 0;
    background: url(mariagehome.jpg) no-repeat;
    background-size: cover;
    filter: grayscale(1);
    display: flex;

    transition: 1s;
    &:hover{
      filter: grayscale(0);
      
    }
}





#product{
  left: 0;
  height: 0;
  height: 100vh;
  width: 100vw;
  background: url(fond-cote-production.jpg) no-repeat;
  background-size: cover;
  filter: grayscale(1);
  animation: slidebody 10s ease-in-out;
  display: flex;
  transition: 1s;
  &:hover{
    filter: grayscale(0);
  }
}




@keyframes slidebody {
  0%{filter: grayscale(1);}
  33% {filter: grayscale(1);}
  66% {filter: grayscale(0);}
  100% {filter: grayscale(1);}
}
@keyframes slideinlandscape {
  0%{filter: grayscale(1);}
  33% {filter: grayscale(0);width: 70%;}
  66% {filter: grayscale(1);width:30%}
  100% {filter: grayscale(1);}
  }

  @keyframes slideinportrait {
    0%{filter: grayscale(1);}
    33% {filter: grayscale(0);height: 70%;}
    66% {filter: grayscale(1);height:30%}
    100% {filter: grayscale(1);}
    }


nav{
  position: absolute;
  background-color: rgba(61, 61, 61, 0.6);
  display: flex;
  align-items: center;
  
}
#productnav{
  background-color: rgba(61, 61, 61, 0.6);
  position: absolute;
  justify-content: flex-end;
  display: flex;
  align-items: center;
  
}

img{

    top: 50%;
    z-index: 1;
    height: 220px;
    margin: 20px 0;
    
}
 #productbutton{
     background-color: rgba(31, 10, 10, 0);
     opacity: 0.7;
     font-family: 'Michroma', sans-serif;
     font-size: 1.5em;
     border: none;
     animation: opacityproduct 10s ease-in-out;
     transition: 0.5s;

 }

 #productbutton:hover{
   opacity: 1;
 }

a{
  color: white;
  cursor: pointer;
  text-decoration: none;
  margin:0 2vw ;
}
 #mariagebutton{
     animation: opacitymariage 10s ease-in-out;
     font-family: 'Dancing Script', cursive;
     font-size: 2.5em;
     opacity: 0.7;
     transition: 0.5s;
     &:hover{
       opacity: 1;
     }
  
 }

 
 @keyframes opacitymariage{
    0%{
      
      opacity: 0; 
    }
  
    33% {

      opacity: 1;
      
    }
    66% {

        opacity: 0;
      }

    100% {

        opacity: 0.7;
      }
  }

  @keyframes opacityproduct{
    0%{
      
      opacity: 0; 
    }
  
    33% {

      opacity: 0;
    }
    66% {

        opacity: 1;
      }
      100% {

        opacity: 0.7;
      }


  }