body{
    margin: 0;
    background-color: black;
}
@media screen and (max-width:767px){
    .element_h{
        width:99.9%;
        height:50vw;
    }


    .elementprofil{
        width:97vw;
        min-height: calc(97vw/0.666);
    }
    #blocanim{
        margin-right: 5px;
    }
}

@media screen and (min-width:768px){
    .element_h{
        width:48%;
        height:30vw;
    }


   
    .elementprofil{
        width:80vw;
        min-height: calc(80vw/0.666);
    }
    
}
@media screen and (max-width: 1023px){

    header{
        width: 100vw;
    }

    main{
        display: none;

    }
    #menuespace{
        display: none;
    }
    article{
        text-align: center;
    }
}

@media screen and (min-width:1024px){
    header{
        width: 36vw;
    }
.element_h{
        height:20vw;
    }

    .element_h2{
        height:20vw;
    }


    .elementprofil{
        width:60vw;
        min-height: calc(60vw/0.666);
    }
    #headvoirplus{
        width: 68vw;
    }

    #logomin{
        display: none;
    }

    article{
        text-align: left;
    }
}
body{
    min-width: 280px;
}
header{
    z-index: 1;
    position: absolute;
right: 0;
    text-align: right;
    font-family: 'Michroma', sans-serif;
    font-size: 1em;
    min-height: 100vh;
    background:rgba(19, 19, 19, 0.6);
}

.euro{
    font-family: 'Noto Sans', sans-serif;


}

@media screen and (min-width:1281px){
    .elementprofil{
        width:32vw;
        min-height: calc(32vw/0.666);
    }

    .element_h{
        width:32.5%;
        height:15vw;
    }



    
}


#aheader{
    color: rgb(255, 255, 255);
    opacity: 0.7;
    margin: 2px;
    font: 38px 'Michroma', sans-serif;
    transition: 0.7s;
}

#aheader:hover{
    opacity: 1;
}

.elementprofil{
    font-size: 0.8em;
    position: relative;
    margin-left: 5px;
    margin-top: 5px;
    z-index: 1;
    text-align:center;
    -webkit-background-size: cover;
    background-size: cover;
    background-position: center;
    overflow: hidden; 
    display: flex;
    filter: grayscale(0.1);
    
}
.profiln{
    width: 100%;
    transition: 1s;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    color: rgba(255, 255, 255, 0);
    
}

.elementprofil:hover{
    filter: grayscale(0.9);
    
}

.profiln:hover{
    background-color: rgba(19, 19, 19, 0.6);
    color: rgba(255, 255, 255, 1);
}
.textprofil{
    margin: 4px;
    text-align: left;
    line-height: 2em;
    letter-spacing: 0.2em;
    
}
.tarif{
    margin: 8px;
    max-width: 900px;
    text-align: left;
    line-height: 2em;
    letter-spacing: 0.2em;
    color: rgba(255, 255, 255, 1);
}

#joeprofil{
    background-image: url(quisommenous/Profil\ Jo.jpg);
}
#jimprofil{
    background-image: url(quisommenous/IMG_3749.JPG);
}
#amiprofil{
    background-image: url(quisommenous/IMG_7253.jpg);
}

#logomin{

    height: 38px;
    width: 100px;
    margin-top: 4px;
    background: url(Logo/logoafficheBlanc.png) no-repeat;
    background-size:cover;
    opacity: 0.7;
    transition: 0.7s;
}

#logomin:hover{
    opacity: 1;
}
h1{
    font-size: 1.5em;
    text-align: center;
    color: white;

}
.element_clip{
    margin: 10px;

    color: white;
    font-size: 0.9em;
}

body:before,
body:after
{
    z-index: -1;
    content:'';
    position:fixed;
     width:100vw;
     height:100vh;
    top:0; left: 0;
    background-size:cover;
    background-position:center center;
}

#bodyClipVoirplus{
    height: 100vh;
    display: flex;
}

#bodyMarketingVoirplus{
    min-height: 100vh;
    display: flex;
}
#courmetragevoirplus{
    height: 100vh;
    display: flex;
}


#menuespace{
    min-height: 100vh;
    min-width: 400px;
    background-color: rgba(19, 19, 19, 0.6);
}
main{

   color:rgba(255, 255, 255, 0.8);
}
#navmultivid{
    flex: 1;
    height: auto;
background-color: rgba(19, 19, 19, 0.6);
    margin: 0;
    text-align: center;
    color: white;
    font-family: 'Michroma', sans-serif;
}

#navtext{
    flex: 1;
    height: auto;
background-color: rgba(19, 19, 19, 0.6);
    margin: 0;
    text-align: center;
    color: white;
    font-family: 'Michroma', sans-serif;
}

#naviconehead{
display: flex;
justify-content: space-between;
align-items: center;
    padding: 0 8px;
}

#nav1{
   display: flex;
   flex-direction: column;
   align-items: center;
   min-width: 390px;
   margin: 0;
   top: 20%;
   position: fixed;


}
#vplus{
    position: relative;
    padding-top: 20vh;
}


#logoC {
    width: 360px;
    height: 167px;
    background-image: url(Logo/logoafficheBlancSite1.png);
   transition: 0.7s;
   -webkit-background-size: cover;
   background-size: cover;
   background-position: center;
   overflow: hidden; 
}

#logoC:hover{
    background-image: url(Logo/logositegif.gif)
}



.menu, .sousmenu{
   text-align:center;
   
}
.menu{
   padding:1px 0;
   color:rgba(255, 255, 255, 0.8);
   width: 400px;
}
#sousmenu1{
    padding: 8px 0;
       background:rgba(19, 19, 19, 0.6);
}
#sousmenu2{
    padding: 8px 0;
       background:rgba(19, 19, 19, 0.6);
}
#sousmenu3{
    padding: 8px 0;
       background:rgba(19, 19, 19, 0.6);
}
#sousmenu4{
    padding: 8px 0;
       background:rgba(19, 19, 19, 0.6);
}
#sousmenu5{
    padding: 8px 0;
       background:rgba(19, 19, 19, 0.6);
}

.sousmenu{
   height:20px;
   padding:8px 0;
   color:rgba(255, 255, 255, 0.8);
   width: 400px;

}
.menu a{
   padding: 10px 0;
   display:block;
   width:100%;
   height:100%;
   color:rgba(255, 255, 255, 0.8);
   font: 1em 'Michroma', sans-serif;
   text-decoration:none;
   background:rgba(19, 19, 19, 0.8);
   transition: all 0.5s;
}
.sousmenu a{
   display:block;
   width:100%;
   height:100%;
   color:#fff;
   font: 0.8em 'Michroma', sans-serif;
   text-decoration:none;
   transition: all 0.5s;
}
.menu a:hover, .sousmenu a:hover, .menu a:active, .sousmenu a:active, .menu a:focus, .sousmenu a:focus{
   opacity: 0.6;
}


.youtubeResp {
    position: relative;
    margin: 10px;
    padding-bottom: 55%; /* ratio 16/9 */
    height: 0; overflow: hidden;
    clear: both;
}
.youtubeResp iframe,
.youtubeResp object,
.youtubeResp embed {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}
article{
    height: auto;
    
}

#blocanim{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    color: white;
}
.element_h{
    position: relative;
    margin: 5px 0 0 5px;
    z-index: 1;
    opacity: 1;
    background-color: rgba(58, 110, 110, 0.3);
    text-align:center;
    color: white;
    -webkit-background-size: cover;
    background-size: cover;
    background-position: center;
    overflow: hidden; 
    
}


.iconGif{
    height: 100%;
    background-position: center;
    background-size: cover;
    transition: 0.5s;
    margin: 0;
    padding: 0;
}

.iconGif:hover .videoTitre{
    
    max-height: 100%;
}


.textif2{
    margin-left: 4px;
    font-size: 0.6em;
    text-align: left;
    line-height: 2em;
    letter-spacing: 0.2em;
}
.videoTitre{
    position: absolute;
    bottom: 0px;
    max-height: 0%;
    width: 100%;
    background-color: rgba(19, 19, 19, 0.8);
    font: 1em 'Michroma', sans-serif;
    transition: 1s;
}

a{
    color: rgba(255, 255, 255, 0.7);
    transition: 0.7s;
}
a:hover{
    color: white;
}

p{
    margin: 3px 0 6px 0;
    
}

h1{
    font-size: 2em;
    
}
h4{
    margin: 3px 0;
}


.imgprofil{
    width: 300px;
}