

@media screen and (orientation: portrait) {
    header{
        width: 100%;
        margin-bottom: 4vh;
    }
    #conteneur{
        display: none;
    }
    footer{
        width: 100%;
    }

}
@media screen and (max-width:767px){


.menu{
    width:100vw;
}
.sousmenu{
    width: 100vw;
}
    #logoC{
        width: 90%;
    }

}

@media screen and (orientation: landscape) and (max-width:767px){
    footer{
    display:none;
}

}

@media screen and (min-width:768px){

    header{
        position: fixed;
    }
    #nav1{
        min-width: 390px;
        top: 18%;
        position: fixed;
    }

    .menu{
        width:400px;
    }

    .sousmenu{
        width: 400px;
    }
    #logoC{
        width: 360px;
    }

    .clients{
    opacity: 0.5;

    }

    footer{
        width: 100%;
        position: fixed;
    }

}

@media screen and (max-height:499px){
    #logoC{
        width: 40vh;
    }
#nav1{
    top: 0;
}
    footer{
        display: none;
    }
}

@media screen and (orientation: landscape) and (min-height:500px){
        .sousmenu{
        width: 400px;
    }
}

@media screen and (orientation: landscape){
    header{
        width: 100%;
        position: fixed;
    }

    #conteneur{
        display: none;
    }
    footer{
        width: 100%;
        position: fixed;
    }
}

@media screen and (min-width: 1280px){

    header{
        width: 100%;
    }
    #logoheader{
        display: none;
    }
    #conteneur{
        position: fixed;
        height: 90vh;
        width: 20%;
        margin: 0;
        padding: 0;
        background-color: rgba(19, 19, 19, 0.8);
        right: 0;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        font-family: 'Michroma', sans-serif;
        padding-bottom: 70px;
        color: rgba(255, 255, 255, 0.8);
    }

    #Menue_video{
        position:absolute;
        width: 35%;
        max-width: 628px;
        min-height: 100%;
        height: auto;
        right: 0;
        background-color: rgba(19, 19, 19, 0.8);
       
        
    }
    .conteneur_video{
    
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        
        
    }
    
    
    .conteneur_clip{
        position: absolute;
        right: 0;
        width: 40%;
        height: 100%;
        background-color: rgba(19, 19, 19, 0.8);
        display: flex;
        flex-direction: column;
        justify-content: center;
        
    }
    .element_clip{
        text-align:center;
        color: white;
        
        
    }
    
    
    aside{
        
        width:auto;
        height:auto;
        text-align:center;
        color: white;
        margin: 10px;
        padding: 20px;
       
    }
    
    
    .element{
        position: relative;
        z-index: 1;
        margin: 0px 12px 12px 12px;
        border: 2px rgba(253, 253, 253, 0.7) solid;
        width:100%;
        height:280px;
        background-color: rgba(58, 110, 110, 0.3);
        text-align:center;
        color: white;
        -webkit-background-size: cover;
        background-size: cover;
        background-position: center;
        overflow: hidden; 
        
    }
    .element_h{
        position: relative;
        z-index: 1;
        opacity: 1;
        margin: 5px;
        width:16vw;
        height:9vw;
        background-color: rgba(58, 110, 110, 0.3);
        text-align:center;
        color: white;
        -webkit-background-size: cover;
        background-size: cover;
        background-position: center;
        overflow: hidden; 
        
    }
    .iconGif{
        height: 100%;
        background-position: center;
        background-size: cover;
        transition: 0.5s;
        margin: 0;
        padding: 0;
    }

    }.iconGif:hover .videoTitre{
        height:20%;
        transition: 0.7s 0.5s;
    }
    .videoTitre{
        position: absolute;
        bottom: 0px;
        width: 100%;
        height: 0%;
        background-color: rgba(19, 19, 19, 0.8);
        font-family: 'Michroma', sans-serif;
        font-size: 1em;
    }
    

    #section_1{
        background-image: url(Fond\ page\ Wendy/imagette.jpg);
    }
    #section_1:hover{
        background-image: url(Fond\ page\ Wendy/Je-Vis-V3-boucle.gif);
        transition-delay: 0.5s ;
    }
    
    
    #section_2{
        
        background-image: url(Tommy\ Arthur/arthurimagette.jpg);
    }
    #section_2:hover{
        background-image: url(Arthur-gif-boucle.gif);
        transition-delay: 0.5s ;
        
    }
    
    #section_3{
       
        background-image: url(Pastel\ creatif/pastelcomimagette.jpg);
    }
    #section_3:hover{
        background-image: url(Pastel\ creatif/pastel-creatif-boucle.gif);
        transition-delay: 0.5s ;
        
    }
    #section_4{
        
        background-image: url(tour.jpg);
    
    }

    #section_4:hover{
        background-image: url(Star-Wars-boucle.gif);
        transition-delay: 0.5s ;
    }
    #section_5{
       
        background-image: url(Decapulse/Decapulse-imagette.jpg);
    }
    #section_5:hover{
        background-image: url(Decapulse/Decapulse-boucle.gif);
        transition-delay: 0.5s ;
    }
    
    #section_6{
       
        background-image: url(DJ\ Madgic/DJMadgicimagette.jpg);
    }
    #section_6:hover{
        background-image: url(DJ\ Madgic/DJ-MADGIC-Boucle.gif);
        transition-delay: 0.5s ;
        
    }

    footer{
        width: 100%;
        z-index: 1;
    }

    
}

#logoheader{
    padding: 10px;
}

body{
        margin: 0;
        background-color: black;

    }
body:before,
body:after
{
    z-index: -1;
    content:'';
    position:fixed;
     width:100vw;
     height:100vh;
    top:0; left: 0;
    animation: fondu 20s ease-in infinite ;
    background-size:cover;
    background-position:center center;
}
body:after
{
  animation: fondu 20s ease-in 2s infinite ;
  background-image: url(background/index/arthur\ site.jpg);
}


header{
    z-index: 1;
    display: flex;
    justify-content: flex-end;
    text-align: right;
    font-family: 'Michroma', sans-serif;
    font-size: 1em;
}
 h5{
     margin: 5px 0;
 }

#aheader{
    color: rgb(255, 255, 255);
    opacity: 0.7;
    padding-top: 10px;
    margin: 10px;
    font-family: 'Michroma', sans-serif;
    font-size: 2em;
    transition: 0.7s;
}
#aheader:hover{
    opacity: 1;
}
 main{
     height: 100vh;
    color:rgba(255, 255, 255, 0.8);
 }

#nav1{
    display: flex;
    flex-direction: column;


}


#logoC {
    
    transition: 0.7s;
    margin: 10px;
}

#menu{
	width:150px;
	margin:20px auto 0 auto;
}
.menu, .sousmenu{
	text-align:center;
}
.menu{
    padding:1px 0;
    color:rgba(255, 255, 255, 0.8);
    
}
.sousmenu{
    height:20px;
	padding:2px 0;
	background:rgba(19, 19, 19, 0.6);
    color:rgba(255, 255, 255, 0.8);
    
}
.menu a{
    padding: 10px 0;
	display:block;
	width:100%;
	height:100%;
    color:rgba(255, 255, 255, 0.8);
    font-family: 'Michroma', sans-serif;
    font-size: 1em;
    text-decoration:none;
    background:rgba(19, 19, 19, 0.8);
    transition: all 0.5s;
}
.sousmenu a{
	display:block;
	width:100%;
    height:100%;
    padding-bottom: 8px;
	color:#fff;
    font-family: 'Michroma', sans-serif;
    font-size: 0.8em;
    text-decoration:none;
    transition: all 0.5s;
}
.menu a:hover, .sousmenu a:hover, .menu a:active, .sousmenu a:active, .menu a:focus, .sousmenu a:focus{
    opacity: 0.6;
}



@keyframes fondu{
    0%{background-image: url(background/index/arthur\ site.jpg);}
    25%{background-image: url(background/index/arthur\ site.jpg);}
    33.33%{background-image: url(background/index/pastel.jpg);}
    58.33%{background-image: url(background/index/pastel.jpg);}
    66.66%{background-image: url(background/index/landing\ FX.jpg);}
    92.33%{background-image: url(background/index/landing\ FX.jpg);}
    100%{background-image: url(background/index/arthur\ site.jpg);}
}


footer{
    text-align: center;
    margin: 0;
    bottom: 0;
    background-color: rgba(19, 19, 19, 1);
    text-align: center;
    font-family: 'Michroma', sans-serif;
    font-size: 0.8em;
    color: rgba(255, 255, 255, 0.7);
}
p{
    font-family: 1em "Eurostile";
    margin: 0;
    padding-top: 10px;
}


#conteneur_Footeur{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}
section{
    margin: 3px;
    padding:7px;

    
}
section:hover .clients{
    transform: scale(1.1);
    opacity: 1;
}

.clients{
    width:80px;
    height:35px;
    background-size: contain;
    background-repeat: no-repeat;
    background-position:center;
    transition: all 0.7s ease-in-out;
}

#footeur_1{
    background-image: url(clients/Casino-blanc.png);
}

#footeur_2{
    background-image: url(clients/XTV-blanc.png);
}

#footeur_3{
    background-image: url(clients/carouf-blanc.png);
}

#footeur_4{
    background-image: url(clients/decathlon-blanc.png);
}
#footeur_5{
    background-image: url(clients/elow-blanc.png);
}

#footeur_6{
    background-image: url(clients/etincelle-blanc.png);
}

#footeur_7{
    background-image: url(clients/id\ art-site.png);
}

#footeur_8{
    background-image: url(clients/pastel-blanc.png);
}

#footeur_9{
    background-image: url(clients/pbo-blanc.png);
}


#footeur_10{
    background-image: url(clients/xsories-blanc.png);
}
